.auth-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    border: 5px solid var(--color-main);
    border-radius: 12px;
    box-shadow: 0 4px 12px var(--color-shadow-light);
    color: var(--color-text);
    background-color: var(--color-bg) !important;

    h2 {
        text-align: center;
        color: var(--color-main);
        margin-top: 0;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 1em;
        padding: 0.8em 1em;
        border: 1px solid var(--color-border);
        border-radius: 8px;
        background-color: var(--color-white);
        color: var(--color-text);

        &:focus {
        outline: none;
        border-color: var(--color-main);
        box-shadow: 0 0 0 3px var(--color-main-shadow);
        }
    }

    button[type="submit"] {
        background-color: var(--color-accent);
        color: var(--color-accent-text);
        font-size: 1.1rem;
        
        &:hover {
        background-color: var(--color-accent-hover);
        border-color: var(--color-accent-hover);
        }
    }

    .error { 
        color: var(--color-error);
        text-align: center;
        margin: 0.5rem 0 0 0;
    }
}