.main-container {
    height: 50vw;
    width: 60vw;
    padding: 4rem;
    text-align: left;
    background-color: blanchedalmond;
    }

    .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #555;
    margin-bottom: 2rem;

    h1 {
        font-size: 2.5em;
        margin: 0;
    }
    }

    .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
        font-weight: bold;
    }
    }

    .logout-button {
    background-color: #555;
    color: blanchedalmond;
    &:hover {
        background-color: #777;
        border-color: #888;
        color: white;
    }
    }

    .content-area {
    h2 {
        font-size: 2em;
    }
}