.star-rating-input {
    display: flex;
    font-size: 2.5rem;
    color: var(--color-border); // 비어있는 별 색상
    cursor: pointer;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }

    .star {
        transition: color 0.1s ease-in-out;

        &.active { // JS가 active 클래스를 제어
        color: var(--color-main); // 채워진 별 색상
        }
    }
}